<%= render 'users/profile' %>
<span class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-blue-700/10 ring-inset">使用回数</span>
<div id="container" data-controller="flashcards">

<% @microposts.published.sample(5).each do |micropost| %>

 <div id="flashcardContainer" class="flashcardContainer m-4 p-3 border-2 border-gray-200 rounded-2xl duration-200">
 
    <!-- 覚えたいフレーズ -->
    <div id="content" class="m-2 p-3 border-2 border-gray-200 rounded-2xl duration-200">
      <h1>
      <%= sanitize micropost.content, 
      tags: %w(p br h1 h2 h3 h4 h5 h6 ul ol li strong em u s blockquote pre code span div img a),
      attributes: %w(class style src alt href data-*),
      class: "text-xl text-gray-700 font-medium"
    %>
      </h1>

        <div class="text-right">
        <span class="correct_num inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-blue-700/10 ring-inset"> <%= micropost.correct_num %>/10</span>
        </div>
     </div>
 
     <div id="openAnswerAndJudge" class="text-center">
         <button class="open bg-gray-100 text-gray-800 rounded hover:bg-gray-200 transition duration-300 px-4 py-2 mr-4">👀</button>
     </div>
 
 <div>
 
   <div class="answer m-2 p-3 border-2 border-gray-200 rounded-2xl duration-200">
   <%= sanitize micropost.answer, 
   tags: %w(p br h1 h2 h3 h4 h5 h6 ul ol li strong em u s blockquote pre code span div img a),
   attributes: %w(class style src alt href data-*),
   class: "text-xl text-gray-700 font-medium"
 %>
   </div>
 
   <div class="judge text-center">
     <button class="incorrect bg-gray-100 text-gray-800 rounded hover:bg-gray-200 transition duration-300 px-4 py-2 mr-4">💀</button> 
     <button class="correct bg-gray-100 text-gray-800 rounded hover:bg-gray-200 transition duration-300 px-4 py-2 mr-4">✅</button>
   </div>
 
 </div>
 
 </div><!--flashcardContainer-->
 
 
      
 <% end %>

 <div id="congratulationsCard" class="text-center w-full h-screen m-2 p-3 border-2 border-gray-200 rounded-2xl duration-200">

 <h1 class="font-bold text-3xl">ナイスです!</h1>
 <div class="flex justify-center p-5 m-5">
 <%= link_to "もう一度", flashcards_path, class: "bg-gray-50 text-gray-800 rounded hover:bg-gray-200 transition duration-300 m-2 p-2" %>
 <%= link_to "ホームに戻る", user_path, class: "bg-gray-50 text-gray-800 rounded hover:bg-gray-200 transition duration-300 m-2 p-2" %>
 </div>
 </div>

</div>