<!-- ===========================
     ✅ PC表示専用（md以上）
=========================== -->
<div id="title-desktop" class="hidden md:flex w-full h-screen flex-row text-left relative">
  <!-- テキスト部分（左側） -->
  <div class="relative w-1/2 h-full z-50 text-left p-8">
    <div class="h-full flex flex-col justify-start">
      <h1 class="nunitotitle text-6xl font-bold">ホステル日記</h1>
      <p class="text-xl font-bold">オークランド・シドニー・チェンマイ編</p>
      
      <div class="mt-2">
        <p class="text-base text-gray-600">就職したくなかった男が海外へ渡り2年間のホステル暮らし。</p>
        <p class="text-base text-gray-600">現実から逃げた先にあった、もうひとつの世界。</p>
      </div>

      <div class="mt-2">
        <p class="text-gray-400 text-xs">This site is handcrafted by Kazuma Wada</p>
        <p class="text-gray-400 text-xs">
          Design inspired by 
          <span class="text-blue-600">
            <a href="https://readmake.com">readMAKE.com</a>
          </span> by Pieter Levels
        </p>
        <span class="flex items-center text-gray-400 text-xs space-x-1">
          Sponsored by
          <%= image_tag "ep.png", class: "h-[2vh]" %>
        </span>
        <p class="text-xl font-semibold">https://readhostel.com</p>
      </div>

      <!-- シグニチャー -->
      <div class="">
      <%= image_tag "travel-quote.jpg", class: "mt-10 h-[30vh]" %>
      </div>



      <!-- シグニチャー -->
      <div class="absolute bottom-8 left-8 text-sm text-gray-500 space-y-1">
      <%= image_tag "hand.webp", class: "" %>
      </div>

 

    </div>
  </div>

  <!-- 画像部分（右側） -->
  <div class="w-1/2 h-screen">
    <%= image_tag "cover.jpg", class: "h-full w-full object-cover" %>
  </div>
</div>

<!-- ===========================
     ✅ スマホ表示専用（md未満）
=========================== -->
<div id="title-mobile" class="md:hidden relative w-full h-screen">
  <!-- 背景画像 -->
  <%= image_tag "cover.jpg", class: "absolute inset-0 w-full h-full object-cover"%>

  <!-- テキストを中央に表示 -->
  <div class="absolute inset-0 flex flex-col items-center justify-center text-center pb-10">
    <h1 class="text-white text-5xl font-bold mb-2">ホステル日記</h1>
    <p class="text-white text-lg font-semibold mb-4">オークランド・シドニー・チェンマイ編</p>
    
    <div class="text-white text-left text-sm">
      <p>就職したくなかった男が海外へ渡り2年間のホステル暮らし。</p>
      <p>現実から逃げた先にあった、もうひとつの世界。</p>
    </div>
  </div>

</div>




<section id="title-desktop" class="w-full h-screen text-left p-10">
  <p class="font-semibold text-xl">- - - - - - - - - - </p>
  <p class="font-semibold text-xl">👷ベータ版🦺</p>
  <p class="font-semibold text-xl">- - - - - - - - - - </p>
  <p class="font-semibold text-xl">🗺️ はじめに</p>
  <div class="text-gray-800 p-5">
  <p class="mt-1">無料で読めるの？</p>
  <p class="mt-1">著者について</p>
  <p class="mt-1">そもそもなぜ海外へ？</p>
  <p class="mt-1">ワーホリを使って行きました。タイは観光ビザです</p>
  <p class="mt-1">現地でやったアルバイトとか</p>
  <p class="mt-1">英語は日本である程度話す訓練をしてから行きました</p>
  <p class="mt-1">、、、ホステル日記？何それ？</p>
  <p class="mt-1">なぜわざわざこれを書こうと思ったのか？</p>
  <p class="mt-1">今後の展望など</p>
  </div>
  <p class="font-semibold text-xl">🎥 ホステル日記の舞台裏</p>
  <div class="text-gray-800 p-5">
  <p class="mt-2">ホステル日記を自分のメディアでも公開しようと決めたきっかけ02</p>
  <p class="mt-2">「ホステル日記」を書く理由01</p>
  <p class="mt-2">ホステル日記、転職と引越しでちょっとお休みしていました。再開しますー</p>
  <p class="mt-2">ホステル日記を自分のメディアでも公開しようと決めたきっかけ01</p>
  <p class="mt-2">恥ずかしい、ダサい文章でも書いて進む</p>
  <p class="mt-2">書き続けるために作った仕組み</p>
  <p>過去がどうであれ、「自分は書ける人間なんだ」と信じて進んでいる</p>
  <p>仮のビートから始まるホステル日記</p>
  <p>完全なオリジナル作品というのは存在しない。 僕が作品作りに影響を受けた4人</p>
  <p>「ホステル日記」の内容はGitHubで管理していきます</p>
  <p>本を作っていくプロセスはこんな感じにします</p>
  </div>

  <h1 class="font-bold text-xl">🇳🇿🥝オークランド編</h1>
  <div class="text-gray-800 p-5">
  <p class="mt-2">ありがとうダニエル！</p>
  <p class="mt-2">そこはラテンだらけだった</p>
  <p class="mt-2">動物として強ければ細かいことは気にならない？</p>
  <p class="mt-2">ラヴィー二ャ</p>
  <p class="mt-2">そうか、白人の世界では体を鍛えないと相手にされないのか</p>
  <p class="mt-2">ジムに行き始めた</p>
  <p class="mt-2">動物として強ければ細かいことは気にならない！</p>
  <p class="mt-2">日本の外に出て感じる恐怖</p>
  <p class="mt-2">サンシャイン</p>
  <p class="mt-2">いつも笑顔な中国人経営のデリ</p>
  <p class="mt-2">オークランド図書館で目の当たりにしたお金と幸福</p>
  <p class="mt-2">バレンアンピ</p>
  <p class="mt-2">寿司屋のクォンさん</p>
  <p class="mt-2">ラテンDNA!</p>
  <p>...</p>
  </div>

  <p class="font-semibold text-xl">🇦🇺🦘シドニー編</p>
  <p class="font-semibold text-xl">🇹🇭🥊チェンマイ編</p>
  <p class="font-semibold text-xl">🇨🇦☕️トロント(番外編)</p>
</section>