<div class="flex h-screen overflow-hidden">

  <!-- ðŸ‘ˆå·¦ã‚«ãƒ©ãƒ ï¼ˆå›ºå®šãƒ»smä»¥ä¸Šã§è¡¨ç¤ºï¼‰ -->
  <div class="hidden sm:block sm:w-[150px] fixed h-full">
    <%= render 'users/profile' %>
  </div>
  <!-- ðŸ‘ˆå·¦ã‚«ãƒ©ãƒ ï¼ˆå›ºå®šãƒ»smä»¥ä¸Šã§è¡¨ç¤ºï¼‰ -->

  <!-- ðŸ‘‰å³ã‚«ãƒ©ãƒ ï¼ˆã‚¹ãƒžãƒ›ã§ã¯ä½™ç™½ãªã—ï¼‰ -->
  <div class="w-full sm:ml-[150px] overflow-y-auto">
  <p class="pl-4 font-bold text-lg hidden sm:block">#<%= params[:tags] %></p>
  <%= render partial: 'microposts/content_navs' %>
  <!----ã‚¿ã‚°ã®çµæžœ----->
<!-- where: tagã®è¦ç´ ã®ä¸­ã§ã‚‚ã€params[:tags]ã«å½“ã¦ã¯ã¾ã‚‹å†…å®¹ã‚’å–å¾—ã—ã¦ãã‚‹ã€‚-->
<!--    get '/posts/:tags',â†ã“ã®":tags"ã‹ã‚‰paramsãŒæŽ¢ã—ã¦ã„ã‚‹ to: 'microposts#tags', as: 'tag'-->


<!--"/tags"ã®æ–‡å­—åˆ—ã«åˆè‡´ã—ãŸéƒ¨åˆ†ã‚’æŽ¢ã—ã¦ãã‚‹ã€‚pubulishedã®ä¸­ã‹ã‚‰-->
<% @microposts.where(tags: params[:tags]).each do |micropost| %>
 <!-- ä¸€ç•ªå¤–å´ -->
<div class="m-4 p-3 border-2 border-gray-200 rounded-2xl duration-200">
<!--<%= link_to post_path(id: micropost.id) do %> -->

<!-- ã‚³ãƒ³ãƒ†ãƒ³ãƒ„éƒ¨åˆ† -->
<div class="flex m-2">
  <!-- æ—¥ä»˜ -->
    <span class="text-gray-500 text-sm block pr-2">
    <%= micropost.created_at.strftime("%Y-%m-%d") %>
    </span>
  <!-- æ­£è§£æ•° -->
  <% if micropost.correct_num < 10 %>
    <span class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-blue-700/10 ring-inset"> 
    <%= micropost.correct_num %>/10
    </span>
  <% else %>
     âœ…
  <% end %>
  <!-- ã‚¿ã‚° -->
    <% if micropost.tags.present? %>
     <span class="rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-gray-500/10 ring-inset">
     <%= micropost.tags %>
     </span>
    <% end %>
       <!--ç·¨é›†å‰Šé™¤-->
      <% if current_user == @user %>
      <div class="ml-1 flex justify-end space-x-2">
        <!-- ç·¨é›†ãƒœã‚¿ãƒ³ -->
        <%= button_to edit_micropost_path(slug: @user.slug, id: micropost.id), method: :get, class: "text-blue-500 hover:text-blue-700 bg-transparent border-none text-sm" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
        </svg>
        <% end %>

        <!-- å‰Šé™¤ãƒœã‚¿ãƒ³ -->
        <%= button_to micropost_path(slug: @user.slug, id: micropost.id),
         method: :delete,
         class: "text-blue-500 hover:text-blue-700 bg-transparent border-none text-sm" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
        </svg>
        <% end %>
      </div>
      <% end %>
      <!-- ç·¨é›†å‰Šé™¤ã“ã“ã¾ã§ -->

</div>

<!--content-->
    <div class="m-2">
      <%= sanitize micropost.content, 
      tags: %w(p br h1 h2 h3 h4 h5 h6 ul ol li strong em u s blockquote pre code span div img a),
      attributes: %w(class style src alt href data-*),
      class: "text-xl text-gray-700 font-medium"
      %>
    </div>
    
    <div class="border-2 border-dashed"></div>

<!--answer-->
    <div class="m-2 text-gray-400">
      <%= sanitize micropost.answer, 
        tags: %w(p br h1 h2 h3 h4 h5 h6 ul ol li strong em u s blockquote pre code span div img a),
        attributes: %w(class style src alt href data-*)
      %>
    </div>

  <!--original-->
    <div class="text-black font-normal bg-blue-100 text-blue-600 p-2 rounded-lg min-h-[2rem]">
      <%= micropost.original.present? ? sanitize(micropost.original, 
          tags: %w(p br h1 h2 h3 h4 h5 h6 ul ol li strong em u s blockquote pre code span div img a),
          attributes: %w(class style src alt href data-*)
        ) : "&nbsp;".html_safe %>
    </div>
  <!--original-->
    


<!--<% end %><!--link-->
</div><!--ã‚³ãƒ³ãƒ†ãƒ³ãƒ„å¤–å´-->

<% end %><!--loop-->
<!----ã‚¿ã‚°ã®çµæžœ----->
  </div>
</div>
<!-- ðŸ‘‰å³ã‚«ãƒ©ãƒ ï¼ˆã‚¹ãƒžãƒ›ã§ã¯ä½™ç™½ãªã—ï¼‰ -->








