<!DOCTYPE html>
<html>
  <head> 
  <!-- Importmap -->
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>readhostel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Favicon -->
    <%= favicon_link_tag '/favicon.ico' %>  

  <!-- TailwindCSS -->
  <script src="https://cdn.tailwindcss.com"></script>
  
</head>


<body>
<%= yield %>
</body>
</html>

